body {
  /* background-color: rgba(120, 120, 164, 0.586); */
  font-family: "Plus Jakarta Sans", sans-serif !important ;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #fe434d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

/* footer */
.f-info-links a {
  text-decoration: none;
  color: black;
}
.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  margin-right: 1rem;
  font-size: 1.2rem;
}
.f-info {
  text-align: center;
  height: 8rem;
  display: flex;
  background-color: #ebebeb;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/* cards */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}
.card-text p {
  font-weight: 400;
}
.listing-link {
  text-decoration: none;
}

/* card effect */
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}
.container {
  flex: 1;
}

.add-btn {
  border: none !important;
  background-color: #fe424d !important ;
}

/* edit page */
.edit-btn {
  border: none !important;
  background-color: #fe424d !important ;
}

/* show page */
.show-img {
  height: 30vh !important;
}
.btns {
  display: flex;
}
.show-card {
  padding-left: 0;
  padding-right: 0;
}

/* map */
#map {
  height: 400px;
  width: 80vh ;
  border-radius: 20px;
  /* border: 2px solid black; */
}
